<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
    </div>

    <div class="collapse navbar-collapse" id="menu">
        <div class="navbar-form navbar-left">
            <div class="form-group">
                <input type="text" class="form-control search" placeholder="&#xf002; Search">
            </div>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="https://ezpvcq.bn1301.livefilestore.com/y4mNUuflqHuENkJsWSIApC2NJP9JdHe2AU82XPmPRvt_gJ4qARC86xqVXzuoQVmBP_5fzfn7R11jVyr-91UADDi_cpFSlfimXUcKSBUDtvRag7W_HYEt0yVQnq7atdEamexk1VOQb28Ct72syFtMONsR5Fm7MwEIGNcId5YKgsvC9EA_u0bIftDueovZcW7RC8GxP2KL9MSbauEukEiMnPFTg?width=32&height=32&cropmode=none" class="profile-image img-circle">  Fill Murray <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> My Profile</a></li>
                    <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>