<div class="row">
    <div class="col-md-3 text-center">
        <img class="img-circle" src="http://www.fillmurray.com/200/200" alt="user picture">
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <button class="send-button btn btn-lg btn-success btn-block">Send Message</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 rating text-center">
                <i class="fa fa-heart" aria-hidden="true"></i>
                <i class="fa fa-heart" aria-hidden="true"></i>
                <i class="fa fa-heart" aria-hidden="true"></i>
                <i class="fa fa-heart" aria-hidden="true"></i>
                <i class="fa fa-heart" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <p class="user-bio text-justify"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, quas, incidunt aliquid quidem veniam dolores atque magnam provident vitae facere doloribus accusamus quia, blanditiis quaerat quam deleniti sunt, omnis a.</span>
            <span>Veritatis tempora dolor officia molestiae ea aliquam deserunt modi sed, quisquam suscipit debitis labore nemo aspernatur veniam exercitationem quibusdam laudantium corporis quaerat totam, fugiat ex! Omnis fuga eius accusamus neque.</span>
            <span>Excepturi quod quidem fugit quaerat iusto quo nostrum libero voluptatibus veritatis eaque, reprehenderit eius fuga aperiam sint repellat iure, esse consectetur nulla. Ad architecto delectus autem, numquam molestiae eius eaque.</span></p>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <th>Likes</th>
                    <th>Dislikes</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Dogs</td>
                        <td>Birds</td>
                    </tr>
                    <tr>
                        <td>Long Walks on the beach</td>
                        <td>Red Things</td>
                    </tr>
                    <tr>
                        <td>Long Walks on the beach</td>
                        <td>Red Things</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>