<div class="row">
    <div class="col-md-3 text-center">
        <img class="img-circle" src="{{vm.selectedUser.img}}" alt="user picture">
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <button class="send-button btn btn-lg btn-success btn-block">Send Message</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 rating text-center">
                <i data-ng-repeat="item in vm.ratingCount track by $index;"  data-ng-class="{'fa-heart' : $index < vm.selectedUser.rating, 'fa-heart-o' : $index >= vm.selectedUser.rating}" class="fa " aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <p class="user-bio text-justify">{{ vm.selectedUser.Description }}</p>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <th>Likes</th>
                    <th>Dislikes</th>
                </thead>
                <tbody>
                    <tr data-ng-repeat="item in vm.getCount(vm.selectedUser) track by $index;">
                        <td>{{ vm.getArrayItem(vm.selectedUser.Likes, $index) }}</td>
                        <td>{{ vm.getArrayItem(vm.selectedUser.Dislikes, $index) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>